<mat-toolbar color="primary">
  <span>{{ title | titlecase }}</span>

  <a routerLink="/dashboard" mat-button>Dashboard</a>
  <a routerLink="/heroes" mat-button>Heroes</a>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>Angular v9.1.7</span>
</mat-toolbar>

<mat-card>

  <mat-card-title>
    <h1>{{ title | titlecase }}</h1>
  </mat-card-title>

  <router-outlet></router-outlet>

  <mat-card-actions>
    <sam-messages></sam-messages>
  </mat-card-actions>

</mat-card>
